<header>
  <aside>
    <img [src]="pokemon.image" [alt]="pokemon.name"/>
  </aside>
  <article>
    <h4>Name: {{ pokemon.name }}</h4>
    <p>Height: {{pokemon.height }}</p>
    <p>Weight: {{pokemon.weight}}</p>
    <p *ngFor="let pokemon of pokemon.types; let i = index">type{{i+1}}: {{pokemon.type.name}}</p>
  </article>
</header>
