nav {
  position: sticky;
  top: 0;
  background-color: red;
  color: white;
}
nav, ul {
  display: flex;
  list-style-type: none;
}
li, a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 1em;
}
.nav-image img {
  max-width: 60px;
}
