<nav>
  <ul>
    <li class="nav-image">
      <a routerLink="/catalogue">
        <img src="../../../assets/pokemon.png">
      </a>
    </li>
    <ng-container *ngIf="activeSession">
      <li>
        <a routerLink="/catalogue">Pokemon</a>
      </li>
      <li>
        <a routerLink="/trainer">Trainer</a>
      </li>
      <li>
        <a routerLink="/login" (click)="clearStorage()">Log out</a>
      </li>
    </ng-container>
  </ul>
</nav>
