<div class="detail-site">
  <div class="detail-header">
    <h2>Pokemon detail</h2>
  </div>
  <div class="detail-content">
    <ng-container *ngIf="pokemon">
      <app-pokemon-profile-header [pokemon]="pokemon"></app-pokemon-profile-header>
      <button (click)="collectPokemon(pokemon)" class="btn-collect">Collect</button>
    </ng-container>
  </div>
</div>
