.detail-site{
  display: grid;
  grid-template-columns: 1fr;
  margin: 3em;
  border: 1px solid gray;
  border-radius: 12px;

}
.detail-header{
  text-align: center;
}
.detail-content{
  margin: auto;
}
.btn-collect{
  height: 3em;
  width: 100%;
  font-size: 14px;
  margin: auto;
  background-color: green;
  color: white;
  border: .5px solid black;
  border-radius: 6px;
}
