.form{
  margin: 2em;
}
.input {
  display: block;
  margin: auto;
  width: 60%;
  height: 3em;
  font-size: 20px;
  border-radius: 20px;
  text-align: center;
}
.enter-btn {
  margin: 2em;
  width: 30%;
  height: 3em;
  background-color: green;
  color: white;
  border: .5px solid black;
  border-radius: 6px;
}
