<form class="form">
  <label for="username"></label>
  <input type="text"
         [(ngModel)]="username"
         placeholder="Enter your trainer name"
         id="username"
         name="username" class="input">
  <button type="button" (click)="onEnterClick()" class="enter-btn">Enter site</button>
</form>
