.login-container {
  margin: 1em;
  text-align: center;
}
.welcome img {
  max-width: 300px;
  background-color: #e3e3fc;
  border-radius: 12px;
  padding: 2em;
  margin-bottom: 1em;
}
.login-form{
  margin: auto;
  width: 70%;
  background-color: #d0d0d0;
  padding: 1em;
  border: 1px solid grey;
  border-radius: 12px;
}


