<div class="login-container">
  <div class="welcome">
    <img src="../../../assets/pokemon.png">
  </div>
  <div class="login-form">
    <h1>Login</h1>
    <app-login-form></app-login-form>
  </div>
</div>
