<div>
  <div>
    <ul class="list-grid">
      <li class="list-item" *ngFor="let pokemon of pokemons$ | async">
        <img [src]="pokemon.image" [alt]="pokemon.name">
        {{pokemon.name}}
        <button class="btn btn-info" [routerLink]="pokemon.name">Info</button>
        <button class="btn btn-collect" (click)="collectPokemon(pokemon)">Collect</button>
      </li>
    </ul>
    <div class="pagination-btns">
      <button (click)="prev()" class="btn-prev">Previous</button>
      <button (click)="next()" class="btn-next">Next</button>
    </div>
  </div>
</div>
