.list-grid{
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-row-gap: 1em;
  grid-column-gap: 1em;
}
.list-item{
  border: 1px solid grey;
  border-radius: 12px;
}
.btn {
  margin: 5%;
  width: 40%;
  border: .5px solid black;
  border-radius: 6px;
}
.btn-info{
  background-color: blue;
  color: white;
}
.btn-collect{
  background-color: green;
  color: white;
}
.pagination-btns{
  padding: 1em;
  display: flex;
  justify-content: space-evenly;
}
.btn-next{
  background-color: #c4ffc4;
  width: 20%;
  height: 2em;
  border: .5px solid black;
  border-radius: 6px;
}
.btn-prev {
  background-color: #ffc4c4;
  width: 20%;
  height: 2em;
  border: .5px solid black;
  border-radius: 6px;
}
