<div class="trainer-container">
  <div class="trainer-name">
    <h3>Name: {{getName}}</h3>
  </div>
  <div class="trainer-collected" *ngIf="getPokemonsCollected.length > 0">
    <h4>Collected:</h4>
    <table>
      <tr>
        <th>Pokemon</th>
        <th>Sprite</th>
        <th>Details</th>
        <th>Uncollect</th>
      </tr>
      <tr *ngFor="let pokemon of getPokemonsCollected">
        <td>{{pokemon.name}} </td>
        <td><img [src]="pokemon.image" [alt]="pokemon.name"></td>
        <td><button class="inspect" [routerLink]="pokemon.name">Inspect</button></td>
        <td><button class="remove" (click)="removePokemon(pokemon)">Uncollect</button></td>
      </tr>
    </table>
  </div>
</div>

