.trainer-container{
  margin-top: 2em;
}
.trainer-collected {
  margin: 2em;
  width: 60%;
}
@media screen and (max-width: 720px){
  .trainer-collected {
    margin: 2em;
    width: 100%;
  }
}
h4 {
  margin-left: 1em;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border-radius: 12px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.remove {
  height: 2.5em;
  width: 100%;
  font-size: 14px;
  margin: auto;
  background-color: red;
  color: white;
  border: .5px solid black;
  border-radius: 6px;
}
.inspect {
  height: 2.5em;
  width: 100%;
  font-size: 14px;
  margin: auto;
  background-color: green;
  color: white;
  border: .5px solid black;
  border-radius: 6px;
}
